/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #705400;
  --ifm-color-primary-dark: #654c00;
  --ifm-color-primary-darker: #5f4700;
  --ifm-color-primary-darkest: #4e3b00;
  --ifm-color-primary-light: #7b5c00;
  --ifm-color-primary-lighter: #816100;
  --ifm-color-primary-lightest: #926d00;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #c6bf9f;
  --ifm-color-primary-dark: #b9b089;
  --ifm-color-primary-darker: #b2a97d;
  --ifm-color-primary-darkest: #9d915d;
  --ifm-color-primary-light: #d3ceb5;
  --ifm-color-primary-lighter: #dad5c1;
  --ifm-color-primary-lightest: #eeece2;
}